*.ipynb_checkpoints*
data/misc/*.nc
data/misc/*.mat
data/DTU15/*.nc
data/ADT_CMEMS/*.nc
data/merged_alongtrack_altimetry/*.nc
data/ADCP_LMG/*.nc
data/XBT_LMG/*.nc
data/ADCP_LMG/mk_symlinks.py
data/XBT_LMG/mk_symlinks.py
data/srtm15p/*.nc
data/derived/*.nc
data/derived/*.npz
data/derived/digitize_EACFC_Archer_etal2018/*
data/derived/digitize_GS_Rossby_Zhang2001/*
proc/GulfStream33N
proc/GulfStream34N
proc/GulfStream36N
proc/GulfStream37N
proc/GulfStream38N
proc/KuroshioCurrent25N
proc/KuroshioCurrent28p5N
proc/AgulhasCurrent
proc/EastAustralianCurrent29S
proc/BrazilCurrent29S
